<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
    Copyright 2005 Open Source Applications Foundation

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="logs/osafsrv.log"/>
    <param name="MaxFileSize" value="1000KB"/>
    <param name="MaxBackupIndex" value="1"/>
    <param name="BufferedIO" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%d{ISO8601} %-5p [%c{1}] %m%n"/>
    </layout>
  </appender>

  <logger name="org.hibernate.util.JDBCExceptionReporter">
    <level value="OFF"/>
  </logger>

  <logger name="org.apache.catalina.startup.Catalina">
    <level value="INFO"/>
  </logger>

  <logger name="org.osaf">
    <level value="DEBUG"/>
  </logger>

  <logger name="org.osaf.cosmo.acegisecurity.context.HttpRequestContextIntegrationFilter">
    <level value="WARN"/>
  </logger>

  <logger name="org.osaf.cosmo.perf">
    <level value="OFF"/>
  </logger>

  <logger name="org.osaf.cosmo.log.LifecycleLoggerListener">
    <level value="INFO"/>
  </logger>

  <logger name="org.osaf.cosmo.log.HttpLoggingFilter">
    <level value="OFF"/>
  </logger>

  <root>
    <level value="WARN"/>
    <appender-ref ref="FILE"/>
  </root>
</log4j:configuration>
