<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
          "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
    Copyright 2005 Open Source Applications Foundation

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!--
    Application context containing webapp security beans
-->

<beans>

  <!-- interceptor which specifies access control rules for the
       URL space, invoked by security enforcement filter -->

   <bean id="filterInvocationInterceptor"
         class="net.sf.acegisecurity.intercept.web.FilterSecurityInterceptor">
     <property name="authenticationManager">
       <ref bean="authenticationManager"/>
     </property>
     <property name="accessDecisionManager">
       <ref bean="accessDecisionManager"/>
     </property>
     <property name="objectDefinitionSource">
       <value>
	 CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
	 PATTERN_TYPE_APACHE_ANT
         /welcome=ROLE_ANONYMOUS
         /account/new=ROLE_ANONYMOUS
         /account/signup.do=ROLE_ANONYMOUS
         /account=ROLE_ROOT,ROLE_USER
         /account/update.do=ROLE_ROOT,ROLE_USER
         /forgot=ROLE_ANONYMOUS
         /remind.do=ROLE_ANONYMOUS
         /login=ROLE_ANONYMOUS
         /loginfailed=ROLE_ANONYMOUS
         /*.css=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /*.js=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /*.ico=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /*.gif=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /index.jsp=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /home=ROLE_ROOT,ROLE_USER
         /home/jcr:system=ROLE_ROOT
         /home/jcr:system/**=ROLE_ROOT
         /home/**=ROLE_ROOT,ROLE_USER
         /logout=ROLE_ROOT,ROLE_USER
         /**=ROLE_ROOT
       </value>
     </property>
   </bean>

  <!-- filter chain that kicks off request-time processing -->

<!--
        /**=channelProcessingFilter,httpSessionContextIntegrationFilter,basicProcessingFilter,securityEnforcementFilter
-->

  <bean id="uiFilterChainProxy"
        class="net.sf.acegisecurity.util.FilterChainProxy">
    <property name="filterInvocationDefinitionSource">
      <value>
        CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
        PATTERN_TYPE_APACHE_ANT
        /**=httpSessionContextIntegrationFilter,formBasedProcessingFilter,anonymousProcessingFilter,uiSecurityEnforcementFilter
      </value>
    </property>
  </bean>

  <bean id="davFilterChainProxy"
        class="net.sf.acegisecurity.util.FilterChainProxy">
    <property name="filterInvocationDefinitionSource">
      <value>
        CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
        PATTERN_TYPE_APACHE_ANT
        /**=httpSessionContextIntegrationFilter,basicProcessingFilter,davSecurityEnforcementFilter
      </value>
    </property>
  </bean>

  <!-- filter that forces all access to come over a secure channel -->

  <bean id="secureChannelProcessor"
        class="net.sf.acegisecurity.securechannel.SecureChannelProcessor"/>
   
  <bean id="channelDecisionManager"
        class="net.sf.acegisecurity.securechannel.ChannelDecisionManagerImpl">
    <property name="channelProcessors">
      <list>
        <ref local="secureChannelProcessor"/>
      </list>
    </property>
  </bean>

  <bean id="channelProcessingFilter"
        class="net.sf.acegisecurity.securechannel.ChannelProcessingFilter">
    <property name="channelDecisionManager">
      <ref local="channelDecisionManager"/>
    </property>
    <property name="filterInvocationDefinitionSource">
      <value>
	CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
        PATTERN_TYPE_APACHE_ANT
	/**=REQUIRES_SECURE_CHANNEL
      </value>
    </property>
  </bean>

  <!-- filter that integrates SecureContext into HTTP Session -->

  <bean id="httpSessionContextIntegrationFilter"
        class="net.sf.acegisecurity.context.HttpSessionContextIntegrationFilter">
    <property name="context">
      <value>net.sf.acegisecurity.context.security.SecureContextImpl</value>
    </property>
  </bean>

   <!-- filter that performs form-based authentication -->

  <bean id="formBasedAuthenticationEntryPoint"
        class="net.sf.acegisecurity.ui.webapp.AuthenticationProcessingFilterEntryPoint">
    <property name="loginFormUrl">
      <value>/login</value>
    </property>
    <property name="forceHttps">
      <value>false</value>
    </property>
    <!--
    <property name="forceHttps">
      <value>true</value>
    </property>
    -->
  </bean>

  <bean id="formBasedProcessingFilter"
        class="net.sf.acegisecurity.ui.webapp.AuthenticationProcessingFilter">
    <property name="authenticationManager">
      <ref bean="authenticationManager"/>
    </property>
      <property name="authenticationFailureUrl">
        <value>/loginfailed</value>
      </property>
      <property name="defaultTargetUrl">
        <value>/</value>
      </property>
  </bean>

   <!-- filter that performs BASIC authentication -->

  <bean id="basicAuthenticationEntryPoint"
        class="net.sf.acegisecurity.ui.basicauth.BasicProcessingFilterEntryPoint">
    <property name="realmName">
      <value>Cosmo Sharing server</value>
    </property>
  </bean>

  <bean id="basicProcessingFilter"
        class="net.sf.acegisecurity.ui.basicauth.BasicProcessingFilter">
    <property name="authenticationManager">
      <ref bean="authenticationManager"/>
    </property>
    <property name="authenticationEntryPoint">
      <ref local="basicAuthenticationEntryPoint"/>
    </property>
  </bean>

  <!-- filter that performs anonymous authentication -->

  <bean id="anonymousProcessingFilter"
        class="net.sf.acegisecurity.providers.anonymous.AnonymousProcessingFilter">
    <property name="key">
      <value>badgerbadgerbadger</value>
    </property>
    <property name="userAttribute">
      <value>anonymous,ROLE_ANONYMOUS</value>
    </property>
  </bean>

  <!-- filter that enforces security constraints on web requests -->

  <bean id="uiSecurityEnforcementFilter"
        class="net.sf.acegisecurity.intercept.web.SecurityEnforcementFilter">
    <property name="filterSecurityInterceptor">
      <ref local="filterInvocationInterceptor"/>
    </property>
    <property name="authenticationEntryPoint">
      <ref local="formBasedAuthenticationEntryPoint"/>
    </property>
  </bean>

  <bean id="davSecurityEnforcementFilter"
        class="net.sf.acegisecurity.intercept.web.SecurityEnforcementFilter">
    <property name="filterSecurityInterceptor">
      <ref local="filterInvocationInterceptor"/>
    </property>
    <property name="authenticationEntryPoint">
      <ref local="basicAuthenticationEntryPoint"/>
    </property>
  </bean>

</beans>
