<div class="dialog ${this.classes} modifyUserForm">
<div class="dialogTitle">${this.title}</div>
<div class="outerDialog">
<form dojoAttachPoint="form">
  <div class="innerDialog">
  <div style="margin-bottom:4px;">${this.header}</div>

  <table cellpadding="3" cellspacing="1" border="0">

    <tr dojoAttachPoint="usernameInputRow">
      <td class="labelTextCell">
          ${this.usernameLabel}
      </td>
      <td>
          <div class="smData"></div>
          <div>
          <input id="${this.widgetId}Username" size="32" maxlength="32" class="inputText" dojoAttachPoint="usernameInput"/>

          </div>
	      <span class="inputError" dojoAttachPoint="usernameError">
		
    	  </span>
      </td>
    </tr>
    <tr dojoAttachPoint="firstNameInputRow">
      <td class="labelTextCell">
          ${this.firstNameLabel}
      </td>
      <td>
        <div class="smData"></div>
        <div>
          <input property="firstName" id="${this.widgetId}FirstName" size="32" maxlength="128" class="inputText" dojoAttachPoint="firstNameInput"/>

          </div>
	      <span class="inputError" dojoAttachPoint="firstNameError">
		
    	  </span>
      </td>
    </tr>
    <tr dojoAttachPoint="lastNameInputRow">
      <td class="labelTextCell">
          ${this.lastNameLabel}
      </td>
      <td>
        <div class="smData"></div>
        <div>
          <input id="${this.widgetId}LastName" size="32" maxlength="128" class="inputText" dojoAttachPoint="lastNameInput"/>

          </div>
    	  <span class="inputError" dojoAttachPoint="lastNameError">
		
	      </span>
      </td>
    </tr>
    <tr dojoAttachPoint="emailInputRow">
      <td class="labelTextCell">
          ${this.emailLabel}
      </td>
      <td>
        <div class="smData"></div>
        <div>
        	<input id="${this.widgetId}Email" size="32" maxlength="128" class="inputText" dojoAttachPoint="emailInput">
        </div>
   	    <span class="inputError" dojoAttachPoint="emailError">
		
	    </span>
      </td>
    </tr>
    <tr dojoAttachPoint="passwordBlurb">
      <td class="mdLabel" style="text-align:right;">
        &nbsp;
      </td>
      <td >
        <span class="sm">${this.passwordBlurb}</span>
      </td>
    </tr>
    <tr dojoAttachPoint="passwordInputRow">
      <td class="labelTextCell">
           ${this.passwordLabel}
      </td>
      <td>
        <div class="smData"></div>
        <div><input type="password" id="${this.widgetId}Password" size="16" maxlength="16"
                     class="inputText" dojoAttachPoint="passwordInput"/></div>
	      <span class="inputError" dojoAttachPoint="passwordError">
		
    	  </span>
      </td>
    </tr>
    <tr dojoAttachPoint="confirmInputRow">
      <td class="labelTextCell">
           ${this.confirmLabel}
      </td>
      <td>
        <div class="smData"></div>
        <div><input type="password" id="${this.widgetId}Confirm" size="16" maxlength="16"
                     class="inputText" dojoAttachPoint="confirmInput"/></div>
	      <span class="inputError" dojoAttachPoint="confirmError">
		
    	  </span>
      </td>
    </tr>
    <tr dojoAttachPoint="adminInputRow">
     <td class="labelTextCell">&nbsp;</td>
      <td>
        <div style="margin-top:8px;">
          <input type="checkbox" id="${this.widgetId}Admin" dojoAttachPoint="adminInput"/>
             ${this.adminLabel}
        </div>
      </td>
    </tr>
    <tr dojoAttachPoint="lockedInputRow">
     <td class="labelTextCell">&nbsp;</td>
      <td>
        <div style="margin-top:8px;">
          <input type="checkbox" id="${this.widgetId}Locked" dojoAttachPoint="lockedInput"/>
             ${this.lockedLabel}
        </div>
      </td>
    </tr>

  </table>
  </div>
  
  <div class="cancelButtonContainer" style="margin-top:12px;">
    <div style="float:left;" >
        <button dojoType="cosmo:Button" dojoAttachPoint="cancelButton"
            text="${this.cancelButtonText}" small="true" widgetId="${this.widgetId}CancelButton">
            ${this.cancelButtonText}
        </button>
    </div>
    <div style="float:right;">
        <button dojoType="cosmo:Button" dojoAttachPoint="submitButton"
               text="${this.submitButtonText}" small="true" widgetId="${this.widgetId}SubmitButton">
               ${this.submitButtonText}
        </button>
    </div>
      <br style="clear:both;"/>
  </div>
</form>
</div>
</div>


