<div id="${this.widgetId}">
    <div id="${this.widgetId}Logo"></div>
	<div
		id="${this.widgetId}LoginPrompt" class="promptText"
		dojoattachpoint="loginPromptContainer">${this.loginPrompt}</div>

	<div id="${this.widgetId}FormContainer">
	
	<form id="${this.widgetId}Form" dojoattachpoint="loginForm" onsubmit="return false" dojoAttachEvent="onsubmit:doLogin">
		
		<div id="${this.widgetId}InputsBox">
		
			<div id="${this.widgetId}UsernameWidget">
			
				<span id="${this.widgetId}UsernamePrompt" class="promptText"
					dojoattachpoint="usernamePromptContainer">${this.usernamePrompt}</span>
				
				<span id="${this.widgetId}UsernameInputContainer">
					<input 	type="text" id="${this.widgetId}UsernameInput" class="inputText" 
							dojoAttachPoint="usernameInput" />
				</span>
			</div>
			
			<div id="${this.widgetId}PasswordWidget">
				<span id="${this.widgetId}PasswordPrompt" class="promptText"
					dojoattachpoint="passwordPromptContainer">${this.passwordPrompt}</span>
				
				<span id="${this.widgetId}PasswordInputContainer">
								
				<input 	type="password" id="${this.widgetId}PasswordInput" class="inputText"
						dojoAttachPoint="passwordInput"/>
						
				</span>
				
			</div>
		</div>			
		<div id="${this.widgetId}SubmitButton">
			<button dojotype="cosmo:Button" text="Login"
					dojoAttachPoint="submitButton">
					Submit
			</button>
		</div>
		<div style="clear:both;"></div>
			

	</form>
	</div>
</div>
