<div id="${this.widgetId}">
    <div id="${this.widgetId}Logo"></div>
	<div
		id="${this.widgetId}LoginPrompt" class="promptText"
		dojoattachpoint="loginPromptContainer">${this.loginPrompt}</div>

	<div id="${this.widgetId}FormContainer">

	<form id="${this.widgetId}Form" dojoattachpoint="loginForm" onsubmit="return false" dojoAttachEvent="onsubmit:doLogin">

		<table id="${this.widgetId}InputsBox">

			<tr id="${this.widgetId}UsernameWidget">

				<td id="${this.widgetId}UsernamePrompt" class="promptText"
					dojoattachpoint="usernamePromptContainer">${this.usernamePrompt}</td>

				<td id="${this.widgetId}UsernameInputContainer">
					<input 	type="text" id="${this.widgetId}UsernameInput" class="inputText"
							dojoAttachPoint="usernameInput" />
				</td>
			</tr>

			<tr id="${this.widgetId}PasswordWidget">
				<td id="${this.widgetId}PasswordPrompt" class="promptText"
					dojoattachpoint="passwordPromptContainer">${this.passwordPrompt}</td>

				<td id="${this.widgetId}PasswordInputContainer">

				<input 	type="password" id="${this.widgetId}PasswordInput" class="inputText"
						dojoAttachPoint="passwordInput"/>

				</td>

			</tr>
		</table>
		<div id="${this.widgetId}SubmitButton">
			<button dojotype="cosmo:Button" text="Login"
					dojoAttachPoint="submitButton">
					Submit
			</button>
		</div>
		<div style="clear:both;"></div>


	</form>
	</div>
</div>
