#loginDialog{

		
	margin:auto; 
	width:280px; 
	text-align:left; 
	padding-top:24px;

}

#loginDialogLoginPrompt{
	height:46px;
}

#loginDialogLogo{
	padding-bottom:12px;
}

#loginDialogForm{


}

#loginDialogFormContainer{
	padding:12px;
    border:1px solid #999999; 
}

#loginDialogInputsBox{

}

#loginDialogUsernameWidget{
	display: table-row;
}
#loginDialogUsernamePrompt{
	display: table-cell;
}
#loginDialogUsernameInput{

}
#loginDialogUsernameInputContainer{
	display: table-cell;
	padding-bottom:4px;	
}
#loginDialogPasswordWidget{
	display: table-row;
}
#loginDialogPasswordPrompt{
	display: table-cell;
}
#loginDialogPasswordInput{

}
#loginDialogUsernameInputContainer{
	display: table-cell;
}

#loginDialogSubmitButton{
margin-top:16px; 
float:right;
}



