<tbody class="sharingDialogTicket">
  <tr>
    <td class="ticketKey">${key}</td>
    <td class="ticketPermission">${permission}</td>
    <td class="urlToggler" dojoAttachPoint="urlToggler" dojoAttachEvent="onclick: toggleUrls">
      <span class='arrowTextUp' waiRole="presentation">&#9650;</span>
      <span class='arrowTextDown' waiRole="presentation">&#9660;</span>
    </td>
  </tr>
  <tr >
    <td colspan="3">
      <div id="${id}Urls" dojoAttachPoint="urlsContainer" class="sharingUrlsContainer">
        <a href="${urls.atom.uri}"><span class="sharingLink atomSharingLink">${l10n.atom}</span></a>
        <a href="${urls.webcal.uri}"><span class="sharingLink webcalSharingLink">${l10n.webcal}</span></a>
        <a href="${urls.dav.uri}"><span class="sharingLink davSharingLink">${l10n.dav}</span></a>
        <a href="${urls.html.uri}"><span class="sharingLink htmlSharingLink">${l10n.html}</span></a>
      </div>
    </td>
  </tr>
</tbody>
