<form>
  <div class='cosmoAddRemoveCollectionContainer'>
    <span class='cosmoAddRemoveCollectionLabel'> ${l10n.collectionsLabel}</span>
    <span class='cosmoAddCollectionButton cosmoNewCollectionDefault' dojoAttachEvent='onclick: handleNewCollection'></span>
    <span class='cosmoRemoveCollectionButton cosmoRemoveCollectionDefault' dojoAttachEvent='onclick: handleDeleteCollection'></span>
  </div>
  <div id='collectionSelectorContainer'>
    <table id='collectionSelectorTable' cellpadding='0' cellspacing='0'>
      <tbody dojoAttachPoint="containerNode">
      </tbody>
    </table>
  </div>
</form>
