<div class="cosmoDetailView">
  <div class="cosmoDetailViewContainer" dojoAttachPoint="containerNode">
    <div class="paddingWrapper">
      <div class="cosmoDetailViewControlButtons">
        <button dojoType="dijit.form.Button" dojoAttachPoint="removeButton" dojoAttachEvent="onClick: removeItem" class="cosmoDetailViewRemoveButton">${l10n.remove}</button>
        <button dojoType="dijit.form.Button" dojoAttachPoint="saveButton" dojoAttachEvent="onClick: saveItem" class="cosmoDetailViewSaveButton">${l10n.save}</button>
      </div>
    </div>
    <div class="cosmoDetailViewMarkupBar">
      <div id="${id}TriageButtons" dojoAttachPoint="triageButtons" class="cosmoDetailViewTriageButtons">
        <span id="${id}NowButton" dojoAttachPoint="nowButton" dojoAttachEvent="onclick: triageNowOnClick"
              class="cosmoDetailViewTriageButton cosmoDetailViewTriageNowButton cosmoTriageNowButtonDefault"></span>
        <span id="${id}LaterButton" dojoAttachPoint="laterButton" dojoAttachEvent="onclick: triageLaterOnClick"
              class="cosmoDetailViewTriageButton cosmoDetailViewTriageLaterButton cosmoTriageLaterButtonDefault"></span>
        <span id="${id}DoneButton" dojoAttachPoint="doneButton"  dojoAttachEvent="onclick: triageDoneOnClick"
              class="cosmoDetailViewTriageButton cosmoDetailViewTriageDoneButton cosmoTriageDoneButtonDefault"></span>
      </div>
      <span id="${id}StarButton" dojoAttachPoint="starButton"  dojoAttachEvent="onclick: starButtonOnClick"
            class="cosmoDetailViewStarButton cosmoTaskButtonDefault"></span>
      <span id="${id}ReadOnlyIcon" class="cosmoDetailViewReadOnlyIcon cosmoReadOnlyIcon"></span>
      <span id="${id}MailButton" dojoAttachPoint="mailButton" class="cosmoDetailViewMailButton cosmoEmailButtonDefault"
            dojoAttachEvent="onmousedown: mailMouseDown, onmouseup: mailMouseUp"></span>
    </div>

    <div class="cosmoDetailViewBylineSection" dojoAttachPoint="byline">
    </div>

    <div class="textPadContainer">
      <div id="${id}titleInput" dojoAttachPoint="titleInput" dojoType="dijit.form.TextBox" class="cosmoDetailViewTitleInput"></div>
    </div>


    <div class="cosmoDetailViewEventTitleBar">
      <span id="${id}EventTitle" dojoAttachPoint="eventTitleSpan" class="cosmoDetailViewEventTitle"></span>
      <span id="${id}EventButton" dojoAttachPoint="eventButton" class="cosmoDetailViewEventButton cosmoEventButtonDefault"
            dojoAttachEvent="onclick: eventButtonOnClick"></span>
    </div>
    <div class="cosmoDetailViewEventSection" dojoAttachPoint="eventSection">
      <input id="${id}LocationInput" dojoAttachPoint="locationInput" dojoType="dijit.form.TextBox" type="text" class="cosmoDetailViewLocationInput"></input>
      <div class="cosmoDetailViewAllDaySection"><input id="${id}AllDayInput" dojoAttachPoint="allDayInput" dojotype="dijit.form.CheckBox"
           name="allDay" type="checkbox" dojoAttachEvent="onChange: allDayOnChange"></input> ${l10n.allDay}</div>
      <div class="cosmoDetailViewStartSection cosmoDetailViewDateTimeSection">
        <input id="${id}StartDateInput" selector="date" dojoAttachPoint="startDateInput" dojoType="dijit.form.DateTextBox" type="text" class="cosmoDetailViewStartDateInput" required="true"></input> ${l10n.at}
        <input id="${id}StartTimeInput" selector="time" dojoAttachPoint="startTimeInput" dojoType="dijit.form.TimeTextBox" type="text" class="cosmoDetailViewStartTimeInput"></input>
      </div>
      <div class="cosmoDetailViewEndSection cosmoDetailViewDateTimeSection">
        <input id="${id}EndDateInput" dojoAttachPoint="endDateInput" dojoType="dijit.form.DateTextBox" type="text" class="cosmoDetailViewEndDateInput" required="true"></input> ${l10n.at}
        <input id="${id}EndTimeInput" dojoAttachPoint="endTimeInput" dojoType="dijit.form.TimeTextBox" type="text" class="cosmoDetailViewEndTimeInput"></input>
      </div>
      <div class="cosmoDetailViewTimezoneSection">
        <select id="${id}TimezoneRegionSelector" dojoAttachPoint="timezoneRegionSelector" class="cosmoDetailViewTimezoneRegionSelector"
                dojoAttachEvent="onchange: tzRegionOnChange">
          <option value="">${l10n.noTzRegion}</option>
          <option value="Africa">${l10n.africa}</option>
          <option value="America">${l10n.america}</option>
          <option value="Asia">${l10n.asia}</option>
          <option value="Antarctica">${l10n.antarctica}</option>
          <option value="Atlantic">${l10n.atlantic}</option>
          <option value="Australia">${l10n.australia}</option>
          <option value="Europe">${l10n.europe}</option>
          <option value="Indian">${l10n.indian}</option>
          <option value="Pacific">${l10n.pacific}</option>
        </select>
        <select id="${id}TimezoneIdSelector" dojoAttachPoint="timezoneIdSelector" class="cosmoDetailViewTimezoneIdSelector"></select>
      </div>
      <select id="${id}StatusSelector" dojoAttachPoint="statusSelector" class="cosmoDetailViewStatusSelector">
        <option value="CONFIRMED">${l10n.confirmed}</option>
        <option value="TENTATIVE">${l10n.tentative}</option>
        <option value="FYI">${l10n.fyi}</option>
      </select>
      <div class="cosmoDetailViewRecurrenceSection">
        <select id="${id}RecurrenceSelector" dojoAttachPoint="recurrenceSelector" class="cosmoDetailViewRecurrenceSelector"
                dojoAttachEvent="onchange: rruleOnChange">
          <option value="once">${l10n.once}</option>
          <option value="daily">${l10n.daily}</option>
          <option value="weekly">${l10n.weekly}</option>
          <option value="biweekly">${l10n.biweekly}</option>
          <option value="monthly">${l10n.monthly}</option>
          <option value="yearly">${l10n.yearly}</option>
          <option value="custom">${l10n.custom}</option>
        </select> ${l10n.until}
        <input id="${id}UntilInput" dojoAttachPoint="untilInput" dojoType="dijit.form.DateTextBox" type="text" class="cosmoDetailViewUntilInput"></input>
      </div>
    </div>
    <div class="cosmoDetailViewFooter">
    <div class="textPadContainer">
      <textarea id="${id}NotesInput" dojoAttachPoint="notesInput" dojoType="dijit.form.Textarea" class="cosmoDetailViewNotesInput"></textarea>
    </div>
    </div>
  </div>
</div>
