<table cellpadding="0px" cellspacing="0px" style="width: 45px; height: 16px;">
  <tbody>
    <tr>
      <td id="${id}CenterLeft" class="btnElemBaseSm" dojoAttachPoint="leftButtonNode"
          dojoAttachEvent="onmouseover: _morphButton, onmouseout: _morphButton, onmousedown: _morphButton, onmouseup: _morphButton, onclick: leftClickHandler"
          style="width: 13px; height: 15px; line-height: 0px; text-align: left; background-image: url(${bgImgUrl}); border-width: 1px 0 1px 1px;">
        <img src="${leftImgUrl}"/ 
             style="padding: 2px 5px 0 5px; ">
      </td>
      <td id="${id}ButtonDivider" style="width: 1px; height: 16px; line-height: 1px"
          class="btnSetDividerBase"></td>
      <td id="${id}CenterRight" class="btnElemBaseSm" dojoAttachPoint="rightButtonNode"
          dojoAttachEvent="onmouseover: _morphButton, onmouseout: _morphButton, onmousedown: _morphButton, onmouseup: _morphButton, onclick: rightClickHandler"
          style="width: 13px; height: 15px; line-height: 0px; text-align: right; background-image: url(${bgImgUrl}); border-width: 1px 1px 1px 0;">
        <img src="${rightImgUrl}"/ 
             style="padding: 2px 5px 0 5px; ">
      </td>
    </tr>
  </tbody>
</table>
