<div>
  <span id="${id}DisplayName">${displayName}</span>
  <span id="${id}Dismiss" dojoAttachEvent="onclick: destroy">${l10n.dismiss}</span>
  <h2 class="sharingSectionHead">${l10n.subscribeHead}</h2>
  <select name="instructionsSelector"
          dojoAttachEvent="onchange: changeInstructions"
          dojoAttachPoint="instructionsSelector">

    <option value="chandler" selected="selected">${l10n.chandlerLabel}</option>
    <option value="feedReader">${l10n.feedReaderLabel}</option>
    <option value="iCal">${l10n.iCalLabel}</option>
    <option value="web">${l10n.webLabel}</option>
    <option value="dav">${l10n.davLabel}</option>
  </select>
  <div id="${id}Instructions" class="instructions" dojoAttachPoint="instructionsContainer">
    ${l10n.chandlerInstructions}
  </div>
  <a href="${urls.atom.uri}"><span class="sharingLink atomSharingLink" title="${l10n.atomLinkTitle}">${l10n.atom}</span></a>
  <a href="${urls.webcal.uri}"><span class="sharingLink webcalSharingLink" title="${l10n.webcalLinkTitle}">${l10n.webcal}</span></a>
  <a href="${urls.dav.uri}"><span class="sharingLink davSharingLink" title="${l10n.davLinkTitle}">${l10n.dav}</span></a>
  <a href="${urls.html.uri}"><span class="sharingLink htmlSharingLink" title="${l10n.htmlLinkTitle}">${l10n.html}</span></a>
  <div dojoType="dijit.form.DropDownButton" id="${id}NewTicket">
    <div id="${id}InviteButton">${l10n.invite}</div>
    <div dojoType="dijit.Menu" id="${id}InviteMenu">
      <div dojoType="dijit.MenuItem" label="${l10n.newReadTicket}" id="${id}NewReadTicket"
           dojoAttachEvent="onClick: inviteReadOnly"></div>
      <div dojoType="dijit.MenuItem" label="${l10n.newReadWriteTicket}" id="${id}NewReadWriteTicket"
           dojoAttachEvent="onClick: inviteReadWrite"></div>
    </div>
  </div>
  
</div>

