<div class="cosmoTicketedSharingDialog">
  <h2 class="cosmoSharingSectionHead">${l10n.subscribeHead}</h2>
  <span class="cosmoSubscribeButton cosmoChandlerSubscribeButton" title="${l10n.chandlerSubscribeTitle}" dojoAttachEvent="onclick: chandlerOnClick">${l10n.chandler}</span>

  <a href="${urls.webcal.uri}" dojoAttachEvent="onclick: iCalOnClick"><span class="cosmoSubscribeButton cosmoICalSubscribeButton" title="${l10n.iCalSubscribeTitle}">${l10n.iCal}</span></a>

  <span dojoAttachEvent="onclick: atomOnClick" class="cosmoSubscribeButton cosmoAtomSubscribeButton" title="${l10n.atomSubscribeTitle}">${l10n.atom}</span>

  <a href="${urls.dav.uri}" dojoAttachEvent="onclick: davOnClick"><span class="cosmoSubscribeButton cosmoDavSubscribeButton" title="${l10n.davSubscribeTitle}">${l10n.dav}</span></a>

  <a href="${urls.webcal.uri}" target="_blank" class="cosmoSharingDownloadLink">
    <div dojoType="dijit.form.Button" id="${id}Download" class="cosmoSharingDownloadButton">
      ${l10n.download}
    </div>
  </a>
</div>
