<div>
    <table dojoAttachPoint="table">

        <tr>

            <td  class="labelTextVert">
               ${this.strings.nameLabel}:
            </td>

            <td class="labelTextVert">
                <span dojoAttachPoint="collectionNameText" style="display: none">
                    '${this.displayName}' ${this.strings.calendarLabel}
                </span> 
                <span dojoAttachPoint="collectionNameInputSpan" style="display: none">
                   <input dojoAttachPoint="collectionNameInput" 
                          type="text" 
                          value="${this.displayName}" />
                </span>
                <a href="${this.calendar.protocolUrls.web}"><span dojoAttachPoint="linkSpan"></span></a>
            </td>

        </tr>
        
        <tr>
            <td>&nbsp;
        </tr>
        
        <tr>

            <td class="labelTextVert">
               ${this.strings.selectYourClient}:
            </td>

            <td>
                <div>
                    <select style="width:100px" dojoAttachPoint="clientSelector" 
                            dojoAttachEvent="onChange: _handleClientChanged;"/>
                    </select>
                </div>
            </td>

        </tr>

         <tr><td>&nbsp;&nbsp;</td></tr>

         <tbody dojoAttachPoint="clientInstructionRows" style="display: none">
             <tr>
                 <td colspan="3">
                     <span dojoAttachPoint="clientInstructions"> </span>   
                 </td>
             </tr>
    
             <tr><td>&nbsp;&nbsp;</td></tr>
    
             <tr>
                <td class="labelTextVert">
                   ${this.strings.collectionAddress}:
                </td>
                <td >
                     <input style="display: none" size="40" type="text" dojoAttachPoint="clientCollectionAddress" value=""/>
                     <a style="display: none" dojoAttachPoint="clientCollectionLink" href="">${this.strings.clickHere}</a>
                </td>                 
             </tr>
         </tbody>  

         <tbody dojoAttachPoint="protocolRows" style="display: none">
             <tr><td>&nbsp;&nbsp;</td></tr>
             <tr>
                 <td colspan="3">
                     ${this.strings.protocolInstructions}
                 </td>
             </tr>
             <tr><td>&nbsp;&nbsp;</td></tr>
             <tr>
                <td class="labelTextVert">
                   ${this.strings.caldav}:
                </td>
                <td>
                     <input size="40" type="text" value="${this.calendar.protocolUrls.dav}"/>
                </td>                 
             </tr>
             <tr>
                <td class="labelTextVert">
                   ${this.strings.webcal}:
                </td>
                <td>
                     <input size="40" type="text" value="${this.calendar.protocolUrls.webcal}"/>
                </td>                 
             </tr>
             <tr>
                <td class="labelTextVert">
                   ${this.strings.atom}:
                </td>
                <td>
                     <input size="40" type="text" value="${this.calendar.protocolUrls.atom}"/>
                </td>                 
             </tr>
         </tbody>
    </table>
    <div dojoAttachPoint="helpText" style="visibility: hidden; position:absolute; top:0px; left:0px">
    ${this.strings.help}
    <span dojoAttachPoint="chandlerPlug" style="display:none">| ${this.strings.dontHave}
        <a href="${this.strings.chandlerLink}">Chandler</a>? 
        <a href="${this.strings.chandlerDownloadLink}"> 
            <span style="font-size: 9px">${this.strings.downloadHere}</span>
        </a>
    </span>
    </div>
</div>

