#collectionSelectorContainer {
    height: 176px;
    overflow: auto;
}
.collectionSelectorCheckbox {
    width: 18px;
    height: 16px;
    padding-left: 3px;
    text-align: center;
    display: inline;
    float: left;
}
.collectionSelectorCollectionName {
    padding-left: 5px;
    cursor: pointer;
    float: left;
}
.cosmoCollectionSelectorCalSelect .collectionSelectorCollectionName {
    width: 127px;
}
.cosmoCollectionSelectorListSelect .collectionSelectorCollectionName {
    width: 148px;
}
.cosmoCollectionSelectorSection {
    clear: both;
}
.collectionSelectorSel {
    background-color: #659dd3;
    color: #fff;
}
.collectionSelectorDetails {
    width: 14px;
    height: 14px;
    cursor: pointer;
    float: right;
    border-bottom: 1px white solid;
    border-right: 1px white solid;
}
.cosmoCollectionDetails {
    margin: 4px 2px 0px 2px;
}
#collectionSelectorNoCollectionsPrompt {
    color: #999;
    padding: 4px;
}
.cosmoAddRemoveCollectionContainer {
    height: 18px;
    border-bottom: 1px solid #DDDDDD;
}
.cosmoAddRemoveCollectionLabel {
    font-weight: bold;
    color: #7f7f7f;
    height: 18px;
    line-height: 18px;
    padding-left: 5px;
    float: left;
}
.cosmoAddCollectionButton {
    float: right;
    cursor: pointer;
}
.cosmoRemoveCollectionButton {
    float: right;
    cursor: pointer;
}
