#collectionSelectorContainer {
    height: 176px;
    overflow: auto;
    border-top: 1px solid white;
    cursor: pointer;
}
.collectionSelectorCheckbox {
    width: 18px;
    height: 16px;
    padding-left: 3px;
    text-align: center;
    display: inline;
    float: left;
    background: white;
}
.collectionSelectorCollectionName {
    padding-left: 5px;
    float: left;
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 142px;
    white-space: nowrap;
}
.cosmoCollectionSelectorCalSelect .collectionSelectorCollectionName {

}
.cosmoCollectionSelectorListSelect .collectionSelectorCollectionName {

}
.cosmoCollectionSelectorSection {
    width: 100%;
    height: 15px;
    clear: both;
}
.collectionSelectorSel {
    background-color: #808080;
    color: #fff;
}

#collectionSelectorContainer .mouseoverItem {
    background-color: #e0e0e0 !important;
    color: black;
}

.collectionSelectorDetails {
    width: 14px;
    height: 15px;
    cursor: pointer;
    float: right;
    border-bottom: 1px white solid;
    border-right: 1px white solid;
}
.cosmoCollectionDetails {
    margin: 4px 2px 0px 2px;
}
#collectionSelectorNoCollectionsPrompt {
    top: 18px;
    background: #ffcc00;
    border: 1px solid #ff6600;
    color: black;
    font-size: 11px;
    padding: 2px 5px;
    margin: 3px;
    display: none;
}

#collectionSelectorNoCollectionsPrompt, #collectionDisplay .highlight {
    position: absolute; /* necessary to allow the prompt's z-index to beat .greyedout */
    z-index: 15;
}

#collectionSelectorNoCollectionsPrompt p {
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 5px;
}

.greyedout {
    position: absolute;
    top: 48px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
	opacity: .2;
	filter: alpha(opacity=20);
    background: black;
    z-index: 10;
    display: none;
}

.dj_ie .greyedout {
    left: 168px;
}

.showme {
    display: block !important;
}

.cosmoAddRemoveCollectionContainer {
    width: 100%;
    height: 18px;
    border-bottom: 1px solid #DDDDDD;
}
.cosmoAddRemoveCollectionLabel {
    font-weight: bold;
    font-size: 12px;
    color: #7f7f7f;
    height: 18px;
    line-height: 18px;
    padding-left: 5px;
    float: left;
}
.cosmoAddCollectionButton {
    float: right;
    cursor: pointer;
}
.cosmoRemoveCollectionButton {
    float: right;
    cursor: pointer;
}
