@import url("Checkbox.css");
@import url("HintText.css");

#detailView{
    overflow-x: hidden;
}
.cosmoDetailView {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F7F7F7;
}
.cosmoDetailHidden {
    display: none;
}

.expandWidth {
    width: 100% !important;
}

.cosmoDetailViewControlButtons {
    width: 100%;
    min-width: 247px;
}

.paddingWrapper {
    padding: 5px;
    height: 25px;
}

.cosmoDetailViewControlButtons .dijitButtonNode {
    background: none;
    height: 25px; /* 35px - 2 * 5px */
    width: 100%;
    line-height: 11px;
    color: #0066FF;
    border-left-width: 0px;
    border-color: #B6B6B6;
}

.cosmoDetailViewControlButtons .dijitButton {
    background: #EDEDED;
}
.cosmoDetailViewControlButtons .dijitButtonHover {
    background: #F7F7F7;
}
.cosmoDetailViewControlButtons .dijitButtonActive {
    background: #E0E0E0;
}

.cosmoDetailViewControlButtons > .dijitButton:first-child .dijitButtonNode {
    border-left-width: 1px;
}

.cosmoDetailViewControlButtons .dijitButton {
    margin: 0;
    float: left;
    width: 123px;
}

.cosmoDetailViewMarkupBar {
    height: 18px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    clear: both;
}

.cosmoDetailViewTriageButton {
    float:left;
}

.cosmoDetailViewStarButton, .cosmoDetailViewMailButton {
    float: left;
    margin-left: 15px;
}

.cosmoDetailViewTitleInput {
    margin-left: 5px !important;
}

.cosmoDetailViewTitleInput input {
    font-size: 15px !important;
    font-weight: bold;
}

.cosmoDetailViewWideBox {
    padding-left: 3px;
    padding-right: 1px;
    margin: 5px 0px 5px 0px;
    width: 224px;
}

.cosmoDetailViewNotesInput {
    margin: 5px;
    width: 224px;
    min-height: 150px;
    padding: 2px;
}

.cosmoDetailViewNotesInput #detailViewNotesInput {
    min-height: 150px;
    padding: 2px;
}

.cosmo .cosmoDetailView .dijitTextArea {
    background: white !important;
}

.cosmoDetailViewEventSection {
    padding: 0px 20px 0px 5px;
}
.cosmoDetailViewEventTitleBar{
    height: 18px;
    padding-left: 5px;
    margin-top: 5px;
}
.cosmoDetailViewEventTitleBar, #detailViewTriageButtons, #detailViewStarButton, #detailViewMailButton{
    cursor: pointer;
}
.cosmoDetailViewEventTitle{
    font-weight: bold;
    line-height: 18px;
    font-size: 10px;
    vertical-align: middle;
    color: #0066FF !important;
}

.cosmoDetailViewStartDateInput, .cosmoDetailViewEndDateInput{
    width: 85px;
}
.cosmoDetailViewStartTimeInput, .cosmoDetailViewEndTimeInput, .cosmoDetailViewUntilInput{
    width: 85px;
    margin-left: 5px;
}

.cosmoDetailViewTimezoneRegionSelector, .cosmoDetailViewStatusSelector, .cosmoDetailViewRecurrenceSelector{
    width: 87px; /* 85px + 2*1px border */
    min-height: 20px; /* 18px + 2*1px border */
    vertical-align: top;
}

.cosmoDetailViewTimezoneIdSelector {
    margin-left: 5px;
    width: 135px;
}

.cosmoDetailViewLocationInput{
    display: block;
    margin-bottom: 5px;
}

.cosmoDetailViewEventSection {
    vertical-align: top;
}

.cosmoDetailViewEventSection input {
    padding: 2px;
} 

.cosmoDetailViewEventSection .dijitTextBox, .cosmoDetailViewEventSection select, .cosmoDetailViewWideBox, .cosmoDetailViewNotesInput .dijitTextArea {
    border: 1px solid #AAAAAA;
} 

.cosmoDetailViewEventSection select {
    height: 20px;
    font-size: 11px;
    font-family: "Lucida Grande", "Verdana", "Arial", sans-serif;
}

.cosmoDetailViewStatusSelector, .cosmoDetailViewAllDaySection, .cosmoDetailViewDateTimeSection, .cosmoDetailViewTimezoneSection {
    margin-bottom: 5px;
}

.cosmoDetailViewTimezoneSection {
    min-width: 232px;
}

.cosmoDetailViewEventTitleBar{
    background: #ededed;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;    
}
.cosmoDetailViewEventButton {
    position: absolute;
    right: 0;
}

.cosmoDetailViewReadOnlyIcon{
    float: right;
    margin-right: 5px;
    margin-top: 3px;
    display: none;
}
.cosmoDetailViewReadOnly .cosmoDetailViewReadOnlyIcon{
    display: inline;
}
.cosmoDetailViewReadOnly .cosmoDetailViewSaveButton {
    display: none;
}
.cosmoDetailViewReadOnly .cosmoDetailViewRemoveButton {
    display: none;
}

.cosmoDetailViewRecurrenceSection {
    verical-align: middle;
}