@import url("Checkbox.css");
#detailView{
    
}
.cosmoDetailView {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
}
.cosmoDetailHidden {
    visibility: hidden;
}

.cosmoDetailViewControlButtons {
    display: table;
    width: 100%;
}

.paddingWrapper {
    padding: 5px;
    height: 25px;
}

.cosmoDetailViewControlButtons .dijitButtonNode {
    background: none;
    height: 25px; /* 35px - 2 * 5px */
    width: 100%;
    line-height: 11px;
    color: #0066FF;
    border-left-width: 0px;
    border-color: #B6B6B6;
}

.cosmoDetailViewSaveButton {
    background: #EDEDED;
}

.cosmoDetailViewRemoveButton {
    background: #F7F7F7;
}

.cosmoDetailViewControlButtons > .dijitButton:first-child .dijitButtonNode {
    border-left-width: 1px;
}

.cosmoDetailViewControlButtons .dijitButton {
    margin: 0;
    display: table-cell;
    width: 50%;
}

.cosmoDetailViewMarkupBar {
    height: 18px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    clear: both;
}

.cosmoDetailViewTriageButton {
    float:left;
}

.cosmoDetailViewStarButton, .cosmoDetailViewMailButton {
    float: left;
    margin-left: 15px;
}

.textPadContainer {
    padding: 10px 20px 5px 7px;
}

.cosmoDetailViewTitleInput {
    border-color: #AAAAAA;
    padding-left: 3px;
    font-size: 15px;
    font-weight: bold;
    width: 226px; /* 229 - 3px left padding */
}

.cosmoDetailViewNotesInput {
    margin-top: 5px;
    width: 229px;
}

.cosmoDetailViewEventSection {
    padding: 10px 20px 5px 7px;
}
.cosmoDetailViewEventTitleBar{
    height: 18px;
    padding-left: 7px;
}
.cosmoDetailViewEventTitle{
    font-weight: bold;
    line-height: 18px;
    font-size: 0.9em;
}

.cosmoDetailViewStartDateInput{
    width: 130px;
}
.cosmoDetailViewStartTimeInput{
    width: 75px;
}
.cosmoDetailViewEndDateInput{
    width: 130px;
}
.cosmoDetailViewEndTimeInput{
    width: 75px;
}
.cosmoDetailViewUntilInput{
    width: 115px;
}

.cosmoDetailViewLocationInput{
    display: block;
    margin-bottom: 5px;
}
.cosmoDetailViewAllDaySection{
    margin-bottom: 5px;
}
.cosmoDetailViewDateTimeSection{
    margin-bottom: 5px;
}
.cosmoDetailViewTimezoneSection{
    margin-bottom: 5px;
}
.cosmoDetailViewStatusSelector{
    margin-bottom: 5px;
}
.cosmoDetailViewRecurrenceSection{
    margin-bottom: 5px;
}
.cosmoDetailViewEventTitleBar{
    background: #ededed;
    border-top: 1px solid #999999;
}
.cosmoDetailViewEventButton {
    position: absolute;
    right: 0;
}
.cosmoDetailViewFooter {
    background: #ededed;
}

.cosmoDetailViewReadOnlyIcon{
    float: right;
    margin-right: 5px;
    margin-top: 3px;
    display: none;
}
.cosmoDetailViewReadOnly .cosmoDetailViewReadOnlyIcon{
    display: inline;
}
.cosmoDetailViewReadOnly .cosmoDetailViewSaveButton {
    display: none;
}
.cosmoDetailViewReadOnly .cosmoDetailViewRemoveButton {
    display: none;
}
