@import url("Checkbox.css");
#detailView{
    
}
.cosmoDetailView {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
}
.cosmoDetailViewMarkupBar {
    height: 18px;
    border: 1px solid #999999;
}
.cosmoDetailViewTriageButton {
    position: absolute;
}
.cosmoDetailViewTriageLaterButton {
    left: 43px;
}
.cosmoDetailViewTriageDoneButton {
    left: 86px;
}
.cosmoDetailViewTriageButtons {
    position: absolute;
}
.cosmoDetailViewStarButton {
    position: absolute;
    left: 150px;
}
.cosmoDetailViewMailButton {
    position: absolute;
    right: 0px;
}

.cosmoDetailViewNoteSection {
    padding: 10px 20px 5px 7px;
}

.cosmoDetailViewTitleInput {
    font-size: 15pt;
    font-weight: bold;
    width: 229px;
}

.cosmoDetailViewNotesInput {
    margin-top: 5px;
    width: 229px;
}

.cosmoDetailViewEventSection {
    padding: 10px 20px 5px 7px;
}
.cosmoDetailViewEventTitleBar{
    height: 18px;
    padding-left: 7px;
}
.cosmoDetailViewEventTitle{
    font-weight: bold;
    line-height: 18px;
    font-size: 0.9em;
}

.cosmoDetailViewStartDateInput{
    width: 130px;
}
.cosmoDetailViewStartTimeInput{
    width: 75px;
}
.cosmoDetailViewEndDateInput{
    width: 130px;
}
.cosmoDetailViewEndTimeInput{
    width: 75px;
}
.cosmoDetailViewUntilInput{
    width: 115px;
}

.cosmoDetailViewLocationInput{
    display: block;
    margin-bottom: 5px;
}
.cosmoDetailViewAllDaySection{
    margin-bottom: 5px;
}
.cosmoDetailViewDateTimeSection{
    margin-bottom: 5px;
}
.cosmoDetailViewTimezoneSection{
    margin-bottom: 5px;
}
.cosmoDetailViewStatusSelector{
    margin-bottom: 5px;
}
.cosmoDetailViewRecurrenceSection{
    margin-bottom: 5px;
}
.cosmoDetailViewEventTitleBar{
    background: #ededed;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;

}
.cosmoDetailViewEventButton {
    position: absolute;
    right: 0;
}
.cosmoDetailViewFooter {
    background: #ededed;
    border-top: 1px solid #999999;
}
.cosmoDetailViewSaveButton {
    float: left;
    margin-left: 7px;
}
.cosmoDetailViewRemoveButton {
    float: right;
    margin-right: 7px;
}
.cosmoDetailViewReadOnlyIcon{
    position: absolute;
    right: 48px;
    margin: 3px;
    display: none;
}
.cosmoDetailViewReadOnly .cosmoDetailViewReadOnlyIcon{
    display: inline;
}
.cosmoDetailViewReadOnly .cosmoDetailViewSaveButton {
    display: none;
}
.cosmoDetailViewReadOnly .cosmoDetailViewRemoveButton {
    display: none;
}
