#collectionSharingDialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.cosmoSharingDialog {
    padding: 30px 7px 18px 7px;
    background: #EDEDED;
}
.cosmoSharingDisplayName {
    position: absolute;
    top: 0px;
    right: -2px;
    left: 0px;
    border: 1px solid #999999;
    padding: 2px 5px;
}
.cosmoSharingHtmlLinkDiv{
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    text-align: right;
}
.cosmoSharingHtmlLinkIcon{
    background: url();
}
.cosmoSharingHtmlLink{
    text-decoration: none;
}
h2.cosmoSharingSectionHead {
    margin-top: 30px;
    font-size: 1em;
    font-weight: normal;
}
.cosmoSubscribeButton{
    display: block;
    color: white;

    padding: 0 7px;
    margin-bottom: 5px;
    border-color:#CCCCCC rgb(119, 119, 119) rgb(119, 119, 119) rgb(204, 204, 204);
    border-style:solid;
    border-width:1px;

    height: 18px;
    width: 10em;
    line-height: 18px;

    text-align: center;
    cursor: pointer;
    background: url(images/colored_button_bgs.png);
    background-repeat: repeat-x;
}
.cosmoSubscribeButton a:hover{
    text-decoration: none;
}
.cosmoChandlerSubscribeButton {
    background-position: 0px 0px;
}
.cosmoChandlerSubscribeButton:hover {
    background-position: 0px -18px;
}
.cosmoICalSubscribeButton {
    background-position: 0px -36px;
}
.cosmoICalSubscribeButton:hover {
    background-position: 0px -54px;
}
.cosmoAtomSubscribeButton {
    background-position: 0px -72px;
}
.cosmoAtomSubscribeButton:hover {
    background-position: 0px -90px;
}
.cosmoDavSubscribeButton {
    background-position: 0px -108px;
}
.cosmoDavSubscribeButton:hover {
    background-position: 0px -126px;
}
.cosmoInviteButton{
    margin-top: 30px;
}
.cosmoInviteSection{
    display: none;
}
.cosmoInviteInstructions {
    
}
.cosmoReadOnlyInviteLink {
    display: block;
}
.cosmoReadWriteInviteLink {
    display: block;
}
.cosmoSharingDownloadLink {
    color: black;
    text-decoration: none;
    float: right:
}
.cosmoSharingDownloadLink:visited {
    color: black;
}
.cosmoSharingDownloadButton {
    display: block;
}
.cosmoSharingDoneButton {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}
.cosmoSharingDoneButton .dijitButtonNode{
    width: 100%
}
