<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
          "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
    Copyright 2006 Open Source Applications Foundation

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<beans>

  <bean id="cosmoConfigPath"
        class="java.lang.String">
    <constructor-arg>
      <value>classpath:cosmo.properties</value>
    </constructor-arg>
  </bean>

  <!-- we don't need this, but we have to override the bean definition
       from applicationContext.xml -->
  <bean id="mailSession"
        class="java.lang.String"/>

  <bean id="mailSender"
        class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="protocol">
      <value>smtp</value>
    </property>
    <property name="host">
      <value>localhost</value>
    </property>
  </bean>

  <bean id="validatePreUpdateEventListener"
      class="org.hibernate.validator.event.ValidatePreUpdateEventListener"/>

  <bean id="validatePreInsertEventListener"
      class="org.hibernate.validator.event.ValidatePreInsertEventListener"/>

  <bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="lobHandler" ref="defaultLobHandler" />
    <property name="annotatedPackages">
        <list>
            <value>org.osaf.cosmo.model</value>
        </list>
    </property>
    <property name="annotatedClasses">
        <list>
            <value>org.osaf.cosmo.model.Attribute</value>
            <value>org.osaf.cosmo.model.BinaryAttribute</value>
            <value>org.osaf.cosmo.model.BooleanAttribute</value>
            <value>org.osaf.cosmo.model.CalendarCollectionItem</value>
            <value>org.osaf.cosmo.model.CalendarCollectionStamp</value>
            <value>org.osaf.cosmo.model.CalendarEventItem</value>
            <value>org.osaf.cosmo.model.CalendarItem</value>
            <value>org.osaf.cosmo.model.CalendarPropertyIndex</value>
            <value>org.osaf.cosmo.model.CalendarTimeRangeIndex</value>
            <value>org.osaf.cosmo.model.CollectionItem</value>
            <value>org.osaf.cosmo.model.CollectionSubscription</value>
            <value>org.osaf.cosmo.model.ContentData</value>
            <value>org.osaf.cosmo.model.ContentItem</value>
            <value>org.osaf.cosmo.model.DateAttribute</value>
            <value>org.osaf.cosmo.model.DictionaryAttribute</value>
            <value>org.osaf.cosmo.model.EventStamp</value>
            <value>org.osaf.cosmo.model.HomeCollectionItem</value>
            <value>org.osaf.cosmo.model.IntegerAttribute</value>
            <value>org.osaf.cosmo.model.Item</value>
            <value>org.osaf.cosmo.model.MessageStamp</value>
            <value>org.osaf.cosmo.model.MultiValueStringAttribute</value>
            <value>org.osaf.cosmo.model.NoteStamp</value>
            <value>org.osaf.cosmo.model.ServerProperty</value>
            <value>org.osaf.cosmo.model.StringAttribute</value>
            <value>org.osaf.cosmo.model.Stamp</value>
            <value>org.osaf.cosmo.model.TaskStamp</value>
            <value>org.osaf.cosmo.model.Ticket</value>
            <value>org.osaf.cosmo.model.User</value>
        </list>
    </property>
    <property name="eventListeners">
      <map>
        <entry key="pre-update">
          <ref local="validatePreUpdateEventListener"/>
        </entry>
        <entry key="pre-insert">
          <ref local="validatePreInsertEventListener"/>
        </entry>
      </map>
    </property>
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.generate_statistics">false</prop>
        <prop key="hibernate.cache.use_query_cache">false</prop>
        <prop key="hibernate.cache.use_second_level_cache">false</prop>
        <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
        <prop key="hibernate.show_sql">false</prop>

        <prop key="hibernate.hbm2ddl.auto">update</prop>

        <prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
      </props>
    </property>
    <property name="dataSource">
      <ref bean="jdbcDataSource"/>
    </property>
  </bean>


  <bean id="jdbcDataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName">
      <value>org.apache.derby.jdbc.EmbeddedDriver</value>
    </property>
        <property name="url">
          <value>jdbc:derby:target/test-db;create=true</value>
        </property>
  </bean>


  <bean id="accountActivator"
         class="org.osaf.cosmo.service.account.AutomaticAccountActivator"/>

</beans>
