<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
          "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
    Copyright 2005 Open Source Applications Foundation

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!--
    Application context containing common security beans
-->

<beans>

  <!-- Authentication -->

  <bean id="authenticationDao"
        class="org.osaf.cosmo.acegisecurity.UserAuthenticationDao">
     <property name="userDAO">
       <ref bean="userDAO"/>
     </property>
  </bean>

  <bean id="passwordEncoder"
        class="net.sf.acegisecurity.providers.encoding.Md5PasswordEncoder"/>

  <bean id="daoAuthenticationProvider"
        class="net.sf.acegisecurity.providers.dao.DaoAuthenticationProvider">
    <property name="authenticationDao">
      <ref local="authenticationDao"/>
    </property>
    <property name="passwordEncoder">
      <ref local="passwordEncoder"/>
    </property>
  </bean>

  <bean id="anonymousAuthenticationProvider"
        class="net.sf.acegisecurity.providers.anonymous.AnonymousAuthenticationProvider">
    <property name="key">
      <value>badgerbadgerbadger</value>
    </property>
  </bean>

  <bean id="ticketAuthenticationProvider"
        class="org.osaf.cosmo.acegisecurity.ticket.TicketAuthenticationProvider">
    <property name="ticketDao">
      <ref bean="ticketDao"/>
    </property>
  </bean>

  <bean id="authenticationManager"
        class="net.sf.acegisecurity.providers.ProviderManager">
    <property name="providers">
      <list>
        <ref local="daoAuthenticationProvider"/>
        <ref local="anonymousAuthenticationProvider"/>
        <ref local="ticketAuthenticationProvider"/>
      </list>
    </property>
  </bean>

  <!-- Role-based authorization -->

  <bean id="homedirVoter" class="org.osaf.cosmo.acegisecurity.HomedirVoter"/>
  <bean id="roleVoter" class="net.sf.acegisecurity.vote.RoleVoter"/>

  <bean id="accessDecisionManager"
        class="net.sf.acegisecurity.vote.AffirmativeBased">
    <property name="allowIfAllAbstainDecisions">
      <value>false</value>
    </property>
    <property name="decisionVoters">
      <list>
        <ref bean="homedirVoter"/>
        <ref bean="roleVoter"/>
      </list>
    </property>
  </bean>

  <!-- Cosmo security subsystem -->

  <bean id="securityManager"
        class="org.osaf.cosmo.security.impl.CosmoSecurityManagerImpl">
    <property name="authenticationManager">
      <ref local="authenticationManager"/>
    </property>
  </bean>

</beans>
