<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
          "http://www.springframework.org/dtd/spring-beans.dtd"> 

<!--
    Copyright 2005 Open Source Applications Foundation

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<beans>

  <!-- JCR Resources -->

  <bean id="jcrAuthenticationProvider"
        class="org.osaf.cosmo.spring.jcr.UsernamePasswordAuthenticationProvider">
    <property name="username">
      <value>${cosmo.repository.username}</value>
    </property>
    <property name="password">
      <value>${cosmo.repository.password}</value>
    </property>
  </bean>

  <bean id="homedirSessionFactory"
        class="org.osaf.commons.spring.jcr.JCRSessionFactory">
    <property name="authenticationProvider">
      <ref bean="jcrAuthenticationProvider"/>
    </property>
    <property name="repository">
      <ref bean="jcrRepository"/>
    </property>
    <property name="workspaceName">
      <value>homedir</value>
    </property>
  </bean>

  <bean id="homedirTemplate"
        class="org.osaf.commons.spring.jcr.JCRTemplate">
    <property name="sessionFactory">
      <ref local="homedirSessionFactory"/>
    </property>
  </bean>

</beans>
