<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
          "http://www.springframework.or g/dtd/spring-beans.dtd"> 

<beans>

  <!-- JCR Resources -->

  <bean id="homedirTemplate"
        class="org.osaf.spring.jcr.JCRTemplate">
    <property name="authenticationProvider">
      <ref bean="authenticationProvider"/>
    </property>
    <property name="repository">
      <ref bean="jcrRepository"/>
    </property>
    <property name="workspaceName">
      <value>homedir</value>
    </property>
  </bean>

</beans>
