<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
    Copyright 2005-2007 Open Source Applications Foundation

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <display-name>Cosmo</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:applicationContext.xml
      classpath:applicationContext-security-cmp.xml
      classpath:applicationContext-security-dav.xml
      classpath:applicationContext-security-mc.xml
      classpath:applicationContext-security-webcal.xml
      classpath:applicationContext-security-feed.xml
      classpath:applicationContext-security-pim.xml
    </param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>MessageResources</param-value>
  </context-param>
  <listener>
    <listener-class>
      org.osaf.cosmo.log.LifecycleLoggerListener
    </listener-class>
  </listener>
  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
  <listener>
    <listener-class>
      org.osaf.cosmo.db.DbListener
    </listener-class>
  </listener>
  <listener>
    <listener-class>
      org.osaf.cosmo.ui.config.ConfigurationListener
    </listener-class>
  </listener>
  <filter>
    <filter-name>version-header</filter-name>
    <filter-class>org.osaf.cosmo.ui.VersionHeaderFilter</filter-class>
  </filter>
  <filter>
    <filter-name>hibernate-session</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>sessionFactory</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>default-security</filter-name>
    <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
    <init-param>
      <param-name>targetBean</param-name>
      <param-value>defaultFilterChainProxy</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>webui-security</filter-name>
    <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
    <init-param>
      <param-name>targetBean</param-name>
      <param-value>webuiFilterChainProxy</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>dav-security</filter-name>
    <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
    <init-param>
      <param-name>targetBean</param-name>
      <param-value>davFilterChainProxy</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>mc-security</filter-name>
    <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
    <init-param>
      <param-name>targetBean</param-name>
      <param-value>mcFilterChainProxy</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>webcal-security</filter-name>
    <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
    <init-param>
      <param-name>targetBean</param-name>
      <param-value>webcalFilterChainProxy</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>feed-security</filter-name>
    <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
    <init-param>
      <param-name>targetBean</param-name>
      <param-value>feedFilterChainProxy</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>cmp-security</filter-name>
    <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
    <init-param>
      <param-name>targetBean</param-name>
      <param-value>cmpFilterChainProxy</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>pim-security</filter-name>
    <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
    <init-param>
      <param-name>targetBean</param-name>
      <param-value>pimFilterChainProxy</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>url-rewrite</filter-name>
    <filter-class>
      org.tuckey.web.filters.urlrewrite.UrlRewriteFilter
    </filter-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>commons</param-value>
    </init-param>
    <init-param>
      <param-name>statusEnabled</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter>
  	<filter-name>http-logging</filter-name>
  	<filter-class>org.osaf.cosmo.log.HttpLoggingFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>username-request-integration</filter-name>
  	<filter-class>org.osaf.cosmo.filters.UsernameRequestIntegrationFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>client-hacks-filter</filter-name>
  	<filter-class>org.osaf.cosmo.filters.ClientBugAccommodationFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>http-override</filter-name>
  	<filter-class>org.osaf.cosmo.filters.HttpOverrideFilter</filter-class>
  </filter>
  <filter>
    <filter-name>retry-filter</filter-name>
    <filter-class>org.osaf.cosmo.filters.RetryFilter</filter-class>
    <init-param>
      <param-name>retries</param-name>
      <param-value>10</param-value>
      <param-name>methods</param-name>
      <param-value>POST,PUT,DELETE,MKCALENDAR</param-value>
      <param-name>exceptions</param-name>
      <param-value>org.springframework.dao.ConcurrencyFailureException,org.springframework.dao.DataIntegrityViolationException</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>http-override</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>version-header</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>version-header</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>hibernate-session</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>dav-security</filter-name>
    <url-pattern>/dav/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>retry-filter</filter-name>
    <url-pattern>/dav/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>feed-security</filter-name>
    <url-pattern>/atom/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>retry-filter</filter-name>
    <url-pattern>/atom/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>client-hacks-filter</filter-name>
    <url-pattern>/atom/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>mc-security</filter-name>
    <url-pattern>/mc/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>retry-filter</filter-name>
    <url-pattern>/mc/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>webcal-security</filter-name>
    <url-pattern>/webcal/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>cmp-security</filter-name>
    <url-pattern>/cmp/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>pim-security</filter-name>
    <url-pattern>/pim/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>default-security</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>default-security</filter-name>
    <url-pattern>/account/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>default-security</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>default-security</filter-name>
    <url-pattern>/welcome</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>default-security</filter-name>
    <url-pattern>/loginfailed</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>default-security</filter-name>
    <url-pattern>/logout</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>webui-security</filter-name>
    <url-pattern>/security_check</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>default-security</filter-name>
    <url-pattern>/browse/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>default-security</filter-name>
    <url-pattern>/help/*</url-pattern>
  </filter-mapping>
  <!-- these filters require security to have already been checked -->
  <filter-mapping>
    <filter-name>http-logging</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>username-request-integration</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>url-rewrite</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>dav</servlet-name>
    <servlet-class>
      org.springframework.web.context.support.HttpRequestHandlerServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>cmp</servlet-name>
    <servlet-class>org.osaf.cosmo.cmp.CmpServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>atom</servlet-name>
    <servlet-class>org.osaf.cosmo.atom.AtomServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>mc</servlet-name>
    <servlet-class>org.osaf.cosmo.mc.MorseCodeServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>webcal</servlet-name>
    <servlet-class>org.osaf.cosmo.webcal.WebcalServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
      <servlet-name>springDispatcherServlet</servlet-name>
      <servlet-class>org.osaf.cosmo.ui.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  <welcome-file-list>
    <welcome-file>root</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
    <url-pattern>/root</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dav</servlet-name>
    <url-pattern>/dav/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cmp</servlet-name>
    <url-pattern>/cmp/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>atom</servlet-name>
    <url-pattern>/atom/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mc</servlet-name>
    <url-pattern>/mc/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>webcal</servlet-name>
    <url-pattern>/webcal/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
     <url-pattern>/pim/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
    <url-pattern>/account/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
    <url-pattern>/help/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
    <url-pattern>/browse/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
     <url-pattern>/i18n.js</url-pattern>
  </servlet-mapping>

  <!-- 
   Uncomment to configure session timeout
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config> -->

  <env-entry>
    <env-entry-name>cosmo/config</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <resource-env-ref>
    <resource-env-ref-name>jdbc/cosmo</resource-env-ref-name>
    <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
  </resource-env-ref>
  <resource-env-ref>
    <resource-env-ref-name>mail/cosmo</resource-env-ref-name>
    <resource-env-ref-type>javax.mail.Session</resource-env-ref-type>
  </resource-env-ref>
  
</web-app>
