<span class="buttonSpan">
    <table dojoAttachPoint="tableContainer"
           dojoAttachEvent="onMouseOver: _handleMouseOver; onMouseOut: _handleMouseOut; onClick: _handleOnClick"
           class="buttonTable" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td dojoAttachPoint="leftContainer" 
                    style="width: ${this.getCapWidth}px; height: ${this.getButtonHeight}px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; cursor: pointer;"> 
                </td>
                <td dojoAttachPoint="centerContainer"  
                    style="height: ${this.getButtonHeight}px; text-align: center; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; cursor: pointer;" >
                    <div id="savebuttonText" class="buttonText">
                          <div dojoAttachPoint="buttonTextContainer"></div>
                    </div>
                </td>
                <td dojoAttachPoint="rightContainer" 
                    style="width: ${this.getCapWidth}px; height: ${this.getButtonHeight}px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; cursor: pointer;"> 
                </td>
            </tr>
        </tbody>
    </table>
</span>
