<?xml version="1.0" encoding="UTF-8"?>

<!--
    Copyright 2005 Open Source Applications Foundation

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!-- Security configuration for the Web Console -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.xsd">

  <bean id="pimAccessDecisionManager"
        class="org.springframework.security.vote.AffirmativeBased">
    <property name="allowIfAllAbstainDecisions">
      <value>false</value>
    </property>
    <property name="decisionVoters">
      <list>
        <ref bean="ticketVoter"/>
        <ref bean="roleVoter"/>
      </list>
    </property>
  </bean>

  <!-- interceptor which performs authorization for web requests -->

   <bean id="pimFilterInvocationInterceptor"
         class="org.springframework.security.intercept.web.FilterSecurityInterceptor">
     <property name="authenticationManager">
       <ref bean="authenticationManager"/>
     </property>
     <property name="accessDecisionManager">
       <ref bean="pimAccessDecisionManager"/>
     </property>
     <property name="objectDefinitionSource">
       <value>
	 CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
	 PATTERN_TYPE_APACHE_ANT
	 CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
	 PATTERN_TYPE_APACHE_ANT
         /**/*.css*=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /**/*.js=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /**/*.js?*=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /**/*.html*=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /**/*.prefs*=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /*.ico=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /**/*.gif=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /**/*.jpg=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /**/*.png=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /pim/login.page*=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /pim/lang.page*=ROLE_ROOT,ROLE_USER,ROLE_ANONYMOUS
         /pim/logout.page*=ROLE_ROOT,ROLE_USER
         /pim*=ROLE_ROOT,ROLE_USER
         /pim/keepalive.jsp=ROLE_ROOT,ROLE_USER
         /pim/collection/**=ROLE_ROOT,ROLE_USER
         /=ROLE_ROOT, ROLE_USER
         /**=ROLE_ROOT
       </value>
     </property>
   </bean>

  <!-- filter chain that kicks off request-time processing -->

  <bean id="pimFilterChainProxy" class="org.springframework.security.util.FilterChainProxy">
      <security:filter-chain-map path-type="ant">
          <security:filter-chain pattern="/**" filters="pimHttpSessionContextIntegrationFilter,protocolTicketAuthenticationClearingFilter,pimFormBasedProcessingFilter,protocolTicketProcessingFilter,pimAnonymousProcessingFilter,pimExceptionTranslationFilter,pimFilterInvocationInterceptor,protocolExtraTicketProcessingFilter"/>
      </security:filter-chain-map>
  </bean>

  <!-- filter that integrates SecurityContext into HTTP Session -->

  <bean id="pimHttpSessionContextIntegrationFilter"
        class="org.springframework.security.context.HttpSessionContextIntegrationFilter"/>

   <!-- filter that performs form-based authentication -->

  <bean id="pimFormBasedAuthenticationEntryPoint"
        class="org.springframework.security.ui.webapp.AuthenticationProcessingFilterEntryPoint">
    <property name="loginFormUrl">
      <value>/login</value>
    </property>
    <property name="forceHttps">
      <value>false</value>
    </property>
  </bean>

  <bean id="pimFormBasedProcessingFilter"
        class="org.springframework.security.ui.webapp.AuthenticationProcessingFilter">
    <property name="authenticationManager">
      <ref bean="authenticationManager"/>
    </property>
      <property name="authenticationFailureUrl">
        <value>/login</value>
      </property>
      <property name="defaultTargetUrl">
        <value>/index.jsp</value>
      </property>
      <property name="alwaysUseDefaultTargetUrl">
        <value>false</value>
      </property>
  </bean>

  <!-- filter that performs anonymous authentication -->

  <bean id="pimAnonymousProcessingFilter"
        class="org.springframework.security.providers.anonymous.AnonymousProcessingFilter">
    <property name="key">
      <value>badgerbadgerbadger</value>
    </property>
    <property name="userAttribute">
      <value>anonymous,ROLE_ANONYMOUS</value>
    </property>
  </bean>

  <!-- filter that converts authen/authz exceptions to web pages -->
  <bean id="pimExceptionTranslationFilter"
        class="org.springframework.security.ui.ExceptionTranslationFilter">
    <property name="authenticationEntryPoint">
      <ref local="pimFormBasedAuthenticationEntryPoint"/>
    </property>
  </bean>

</beans>
