/* Styles that will likely be needed app-wide (pim, admin, etc..) */

/* Dialog */
.dialog{
	border: lightgrey solid 1px;
}

.hidden{
	display: none;	
}

.floating{
	top: 25%; 
	position: absolute; 
	width: 40%; 
	left: 30%
}

/* Title Bar */
.dialogTitleBar{
    height: 20px;
    background: blue url(images/title_bar_background.png);
    /* Texture: Vertical gradient matches the blue calendar lozenges*/
    padding-left: 5px;
    text-align: center;
    /* Cancel button - Title gutter: 20px*/
    font-size: medium;
    color: #ffffff;
}

/*
Cancel button has 3 states:

    * Active
    * Rollover
    * Mousedown 
*/
/* Outer Dialog */
.outerDialog{
    background: #f5f5f5;
    /* Opacity: 88%*/
    padding: 15px 10px;
    /* Top when there are tabs: 10px */
}

/*
Confirmation buttons

    * 3 states:
          o Active
          o Rollover
          o Mousedown 
    * Font size: Medium
    * Font color: Black #000000
    * Font opacity: 88%
    * Gutter between confirmation buttons: 10px 

/* Inner Dialog */
.innerDialog{
    background: #ffffff;
    /* Opacity: 88%*/
    padding: 15px ;
}
/*
Tabbed Inner Dialog

Tabs have 7 states:

    * Greyed out
    * Active
    * Rollover
    * Mousedown
    * Selected
    * Selected Rollover
    * Selected Mousedown 

Selected

    * Top margin: 12px
    * Left-right margins: 10px
    * Bottom margin: 5px 

Unselected

    * Top-bottom margins: 5px
    * Left-right margins: 10px 

Text

    * Font size: Medium
    * Font color: Black #000000
    * Font opacity: 88% 

Form Elements

Gutter between labels and fields: 10px

Text fields and Pulldowns:

    * 5px between fields if they are part of 1 group
    * 20px between groupings of fields 

Checkboxes and icons:

    * 5px if they sit to the right of a text field or pulldown 

Gutter above and below Dividers: 15px

Form Element Text Labels:

    * Font size: Medium
    * Font color: Black #000000 

Error Text:
*/
.errorText{
	font-size: small;
	color: #ff0000;
}
    /*
    * Gutter: 10px below form elements 

Explanatory Text:

    * Font size: Small
    * Font color: Medium Grey #808080
    * Gutter: 10px below form elements 

Link styles

    * Active style: No underline
    * Active color: #0080ff
    * Hover effect: Underline
    * Mousedown effect: Underline
    * Mousedown link color: #0066cc
    * Visited link color: #57beff */

/*
 * A style for the center box of the kind of page layout found here:
 * http://twiki-new.osafoundation.org/Journal/CosmoSignUpWorkflow
 */
.mainInfoBox{
	position: relative;

	border-left:1px solid lightgrey;
	border-right:1px solid lightgrey;
	border-bottom:0px;
	border-top:0px;
	bottom: 0;
	left: 30%;
	width: 40%;
	height: 100%;
	padding-right: 15px;		
	padding-left: 15px;		
	padding-top: 20px;
	text-align: center;
}

.mainInfoBox>p{
	padding-bottom: 20px;	
	width: 40em;
	margin-left: auto;
	margin-right: auto;
}

#contentDiv{
	height: 50em;
	width: 100%;	

}

hr {
	color: lightgrey;	
}

/* Buttons
 * --------------------- */
.btnElemBase {
    width: 76px;
    margin: auto;
    text-align: center;
    font-size: 11px;
    color: #339;
    border-style: solid;
    border-color: #ccc #777 #777 #ccc;
    border-width: 1px;
    height: 19px;
    padding: 0 0 2px 0;
    cursor: pointer;
    background-image: url(images/button_bgs.png);
    background-repeat: repeat-x;
    background-position: 0px 0px;
}
.btnElemMouseover {
    color: #3333aa;
    background-position: 0px -19px;
}
.btnElemMousedown {
    color: #3333aa;
    border-color: #555 #bbb #bbb #555;
    background-position: 0px -19px;
}
.btnElemDisabled {
    color: #999;
    border-color: #ddd #888 #888 #ddd;
    cursor: default;
}
.btnElemBaseSm {
    width: 60px;
    margin: auto;
    text-align: center;
    font-size: 9px;
    color: #339;
    border-style: solid;
    border-color: #ccc #777 #777 #ccc;
    border-width: 1px;
    height: 16px;
    padding: 0 0 1px 0;
    cursor: pointer;
    background-image: url(images/button_bgs.png);
    background-repeat: repeat-x;
    background-position: 0px -2px;
}
.btnElemMouseoverSm {
    color: #3333aa;
    background-position: 0px -21px;
}
.btnElemMousedownSm {
    color: #3333aa;
    border-color: #555 #bbb #bbb #555;
    background-position: 0px -22px;
}
.btnElemDisabledSm {
    color: #999;
    border-color: #ddd #888 #888 #ddd;
    cursor: default;
}
.btnSetDividerBase {
    border: 0px;
    background-color: #aaa;
}
.btnSetDividerLeftPress {
    border: 0px;
    background-color: #bbb;
}
.btnSetDividerRightPress {
    border: 0px;
    background-color: #555;
}

.activationPrompt {
	border: 1px solid #ff6600;
	background: #ffffcc;
	font-size: 12px;
	padding: 8px;
	font-weight: bold;
}

