#collectionSharingDialog {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 4em;
}

.sharingLink{
    width: 40px;
    height: 20px;
    color: white;
    font-weight: bolder;
    padding: 2px;
}
.sharingLink a:hover{
    text-decoration: none;
}
.atomSharingLink {
    background: orange;
}
.webcalSharingLink {
    background: green;
}
.htmlSharingLink {
    background: blue;
}
.davSharingLink {
    background: red;
}
.ticketKey {
    margin: 0px 5px;
}
.ticketType{
    margin: 0px 5px;
}
.urlToggler{
    font-size: 0.8em;
    height: 1em;
    width: 2em;
    background: grey;
    padding: 0.1em;
    display: inline;
    cursor: pointer;
}
.sharingUrlsContainer{
    height: 0px;
}

.urlToggler .arrowTextDown {
	display: inline;
}

.urlToggler .arrowTextUp {
	display: none;
}

.urlToggler-expanded .arrowTextDown {
	display: none;
}

.urlToggler-expanded .arrowTextUp {
	display: inline;
}

.ticketRevoker {
    visibility: hidden;
    background: red;
    width: 1em;
    height: 1em;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.hideRevokeButton {
    display: none;
}