#debugDiv{
   position: absolute; 
   left: 250px; 
   top: 200px; 
   z-index : 1000; 
   font-size: 12pt; 
   visibility:hidden; 
   background:#aaeeaa; 
   height:300px; 
   width:500px;	
   padding: 4px;
}

#dojoDebug{
  height:275px;
  overflow:auto;
  background:#FFFFFF; 
}
