<div style="text-align: center;">
  <div style="width: 400px; text-align: left; margin: auto;">
  <table dojoAttachPoint="table">
  <colgroup>
    <col style="width: 130px;"/>
    <col/>
  </colgroup>
    <tr>
      <td class="labelTextHoriz labelTextCell">
         ${this.strings.nameLabel}:
      </td>
      <td>
        <div class="floatLeft">
          <span dojoAttachPoint="collectionNameText" 
            style="display: none">
            '${this.displayName}' ${this.strings.calendarLabel}
          </span>
        </div>
        <div class="floatLeft">
          <span dojoAttachPoint="collectionNameInputSpan" 
            style="display: none">
             <input class="inputText" dojoAttachPoint="collectionNameInput"
                type="text"
                value="${this.displayName}"/>&nbsp;
               <input  dojoAttachPoint="collectionNameChangeButton" 
                type="button" class="btnElemBaseSm" 
                style="width: 86px;" value="${this.strings.changeNameButton}"
                dojoAttachEvent="onClick: _handleSave;"/>
          </span>
        </div>
        <div class="floatLeft">
          &nbsp;&nbsp;
        </div>
        <div class="floatLeft">
          <a href="${this.protocolUrls.pim}">
            <span dojoAttachPoint="linkSpan"></span>
          </a>
        </div>
        <div class="clearBoth"></div>
      </td>
    </tr>
  <tr>
    <td>
    </td>
    <td>
      <input  dojoAttachPoint="deleteCollectionButton" 
              type="button" class="btnElemBaseSm" id="deleteCollectionButton"
              style="width: 86px;" value="${this.strings.deleteCollectionButton}"
              dojoAttachEvent="onClick: _handleDelete;"/>
    </td>
  </tr>
    <tr>
      <td class="labelTextHoriz labelTextCell">
         ${this.strings.selectYourClient}:
      </td>
      <td>
        <div>
          <select class="selectElem" dojoAttachPoint="clientSelector"
              dojoAttachEvent="onChange: _handleClientChanged;">
          </select>
        </div>
      </td>
    </tr>
    <tbody dojoAttachPoint="clientInstructionRows"
      style="display: none;">
      <tr>
       <td colspan="2" style="padding-top: 12px; padding-bottom: 8px;">
         <span dojoAttachPoint="clientInstructions"> </span>
       </td>
      </tr>
      <tr>
      <td class="labelTextHoriz labelTextCell">
         ${this.strings.collectionAddress}:
      </td>
      <td >
        <input class="inputText" style="display: none;" size="40" type="text" 
        dojoAttachPoint="clientCollectionAddress" value="" readonly="readonly"/>
        <a style="display: none" dojoAttachPoint="clientCollectionLink" 
        href="">
          ${this.strings.clickHere}
        </a>
      </td>
      </tr>
     </tbody>
     <tbody dojoAttachPoint="protocolRows" style="display: none">
       <tr>
         <td colspan="2" style="padding-top: 12px; padding-bottom: 8px;">
           ${this.strings.protocolInstructions}
         </td>
       </tr>
       <tr>
        <td class="labelTextHoriz labelTextCell">
           ${this.strings.caldav}:
        </td>
        <td>
           <input class="inputText" size="40" type="text" 
             readonly="readonly" value="${this.protocolUrls.dav}"/>
        </td>
       </tr>
       <tr>
        <td class="labelTextHoriz labelTextCell">
           ${this.strings.webcal}:
        </td>
        <td>
           <input class="inputText" size="40" type="text" 
            readonly="readonly" value="${this.protocolUrls.webcal}"/>
        </td>
       </tr>
       <tr>
        <td class="labelTextHoriz labelTextCell">
           ${this.strings.atom}:
        </td>
        <td>
           <input class="inputText" size="40" type="text" 
            readonly="readonly" value="${this.protocolUrls.atom}"/>
        </td>
       </tr>
     </tbody>
  </table>
  </div>
  <div dojoAttachPoint="helpText" style="visibility: hidden; 
    position:absolute; top:0px; left:0px; width: 420px; padding-left: 12px; text-align: left;">
    <a href="${this.strings.helpLink}" 
      onclick="window.open('${this.strings.helpLink}'); 
      return false;">${this.strings.help}</a>
    <span dojoAttachPoint="chandlerPlug" style="display:none"><!--
      Don't use Dojo widget string substitution with anchor tags -
      it 'helpfully' escapes the quotes in the href prop
      Have to insert as innerHTML during fillInTemplate
      --></span>
  </div>
</div>

