<div id="loginDialog">
    <div id="loginDialogLogo" dojoattachpoint="logoContainer"></div>
    <div id="loginDialogLoginPrompt" class="promptText"
        dojoattachpoint="loginPromptContainer">${this.loginPrompt}</div>
    <div id="loginDialogFormContainer">
    <form id="loginDialogForm" dojoattachpoint="loginForm" 
        onsubmit="return false;" dojoAttachEvent="onsubmit:return false;">
        <table id="loginDialogInputsBox">
            <tr id="loginDialogUsernameWidget">
                <td id="loginDialogUsernameLabel" class="labelTextHoriz labelTextCell"
                    dojoattachpoint="usernameLabelContainer">${this.usernameLabel}</td>
                <td id="loginDialogUsernameInputContainer">
                    <input type="text" id="loginDialogUsernameInput" class="inputText"
                        dojoAttachPoint="usernameInput" />
                </td>
            </tr>
            <tr id="loginDialogPasswordWidget">
                <td id="loginDialogPasswordLabel" class="labelTextHoriz labelTextCell"
                    dojoattachpoint="passwordLabelContainer">${this.passwordLabel}</td>
                <td id="loginDialogPasswordInputContainer">
                <input type="password" id="loginDialogPasswordInput" class="inputText"
                    dojoAttachPoint="passwordInput"/>
                </td>
            </tr>
        </table>
        <div id="loginDialogSubmitButton" dojoattachpoint="submitButtonContainer"></div>
		<div style="clear:both;"></div>
    </form>
    </div>
</div>
