<div id="modalDialog">
    <div id="modalDialogContainer" 
        dojoattachpoint="containerNode">
        <div id="modalDialogTitle" 
            dojoattachpoint="titleNode"></div>
        <div id="modalDialogPrompt" 
            dojoattachpoint="promptNode"></div>
        <div id="modalDialogImage" 
            dojoattachpoint="imageNode"></div>
        <div id="modalDialogContent" 
            dojoattachpoint="contentNode"></div>
        <div id="modalDialogButtonPanel" 
            dojoattachpoint="buttonPanelNode"></div>
    </div>
</div>

