<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
          "http://www.springframework.org/dtd/spring-beans.dtd"> 

<!--
    Copyright 2005 Open Source Applications Foundation

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<beans>

  <!-- config constants and properties -->

  <bean id="cosmoVersion" class="java.lang.String">
    <constructor-arg type="java.lang.String">
      <value>@VERSION@</value>
    </constructor-arg>
  </bean>

  <bean id="cosmoServerAdmin" class="java.lang.String">
    <constructor-arg type="java.lang.String">
      <value>@SERVER_ADMIN@</value>
    </constructor-arg>
  </bean>

  <bean id="propertyPlaceholderConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:cosmo.properties</value>
      </list>
    </property>
  </bean>

  <!-- Cosmo security -->

  <bean id="securityManager"
        class="org.osaf.cosmo.TestSecurityManager">
  </bean>

  <!-- JDBC data source -->

  <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName">
      <value>@DRIVER@</value>
    </property>
    <property name="url">
      <value>@DB_URL@</value>
    </property>
    <property name="username">
      <value>@DB_USERNAME@</value>
    </property>
    <property name="password">
      <value>@DB_PASSWORD@</value>
    </property>
  </bean>

  <!-- JCR repository -->

  <bean id="jcrRepositoryConfig"
        class="org.apache.jackrabbit.core.config.RepositoryConfig"
        factory-method="create">
    <constructor-arg type="java.lang.String" index="0">
      <value>@CONFIGFILEPATH@</value>
    </constructor-arg>
    <constructor-arg type="java.lang.String" index="1">
      <value>@REPOSITORYHOMEDIRPATH@</value>
    </constructor-arg>
  </bean>

  <bean id="jcrRepository"
        class="org.apache.jackrabbit.core.RepositoryImpl">
    <constructor-arg>
      <ref local="jcrRepositoryConfig"/>
    </constructor-arg>
  </bean>

</beans>
